<h1 style="color: white; font-family:Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;">Chibog!!!!!!</h1>
<br>
<section>
		<div class="container">
			{{#each recipe}}
  <div class="container">
			<div class="card">
				<div class="content">
					<div class="imgBx">
						<img src="{{image_food}}">
					</div>
					<div class="contentBx">
						<h3>{{name}}<br><span>{{type}}</span></h3>
					</div>
				</div>
				<ul class="sci">
					<li>
						<a href="">View</a>
					</li>
					<li>
						<a href="">Like</a>
					</li>
					<li>
						<a href="">Share</a>
					</li>
				</ul>
			</div>
  <li>
  {{/each}}
			
		</div>
	</section>

	<a href="https://en.wikipedia.org/wiki/Filipino_cuisine" class="logo" target="_blank">
		<img src="/images/philippines_flag1.png" style="width: 16%; height: auto;" alt="NOT HERE">
	</a>	