
<h1 class = 'title'>Chibog!!!!!!</h1>
<a href="https://en.wikipedia.org/wiki/Filipino_cuisine" class="logo" target="_blank", class = 'flag'>
<img class ='flag' src="/images/philippines_flag1.png";" alt="NOT HERE">
</a>	


	
<br>

<section>

		<div class="container">
			{{#each recipe}}
			<div class="card">
				<div class="content">
					<div class="imgBx">
						<img src="{{image_food}}">
					</div>
					<div class="contentBx">
						<h3>{{name}}<br><span>{{type}}</span></h3>
					</div>
				</div>
				<ul class="sci">
					<li>
						<a href="/recipe/{{id}}">View</a>
					</li>
					<li>
						<a href="">Like</a>
					</li>
					<li>
						<a href="">Share</a>
					</li>
				</ul>
			</div>
  {{/each}}
			
		</div>
	</section>
